body
	{
	background: linear-gradient(to bottom, #b3dced 0%,#29b8e5 50%,#bce0ee 100%);
	}
.wrapper{
 margin-top: 60px;
 background:linear-gradient(to bottom, #deefff 0%,#98bede 100%);}


.carousel.fade
	{
	opacity: 1;}
.carousel.fade .item{
	display: block;
	position: absolute;	
	left: 0;
	top: 0;
	width: 100%;
	opacity: 0;
	transition: opacity .5s;}
.carousel.fade .item.active
	{
	position: relative;
	opacity: 1;
	}
.header .logo{padding:5px 10px 5px 10px;}
 .popularPosts , .popularEat, .comment,.about, .footer
	{	
	background-color: white;
	margin-top: 10px;
	}
h4{
	color:#1c0101 ;
}
.nav-tabs > li, .nav-pills > li 
	{
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; 
	}
.nav-tabs, .nav-pills 
	{
    text-align:center;
	}
.readMore_center
{
	text-align: center;
	color: #c19a7a;
}
.about .description
{
	color:#3d0408;
}
.popularPosts .post_object_small
{
	width: 100%;
	height: 180px;
	
}
.popularPosts .post_object_big
{
	width: 100%;
	height: 500px;
	margin-bottom: 15px;
}

.popularPosts .post_title
{
	text-align: center;
	font-weight:bold;
	padding: 0;
	margin: 0;
}
.popularPosts .post_info
{
	text-align: center;
}
.popularPosts .post_comments 
{
	display: none;
	text-align: center;
	padding-left: 15px;
	
}
.popularPosts .post_date
{
	color:#337ab7;
}
.popularPosts .post_more
{
	padding-left: 15px;
	text-align: right;
}
 .comment .comment_info
{
	margin: 0;
	padding: 0;
	padding-left: 30px;
}
 .comment .comment_avatar
{
	display: inline-block;
	border: 1px solid black;
	float:left;
	margin: 0 20px 10px 10px;
}
.comment .comment_input,.comment_description
{
	display: inline-block;
  width: calc(100% - 130px);
  float: right;
}
.comment .comment_input .input{
  width: 100%;
  height: 95px;
  min-height: 35px;
  outline: none;
  resize: none;
}
.comment .comment_input .help
{
  font-size: 12px;
  margin: 0;
  color: gray;
}
.comment  .comment_date
{
	float: right;
}
.comment  .comment_alert 
{
	text-align: center;
}
.web_camera
{
	background-color: white;
	margin-top: 10px;
}
.web_camera .item1,.item2,.item3,.item4 
{
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}
.web_camera .image
{
	width:360px;
	height: 200px;

	display: inline-block;
}
.web_camera .image img
{

	border-radius:3px;
}
.web_camera p
{
	background-color:#5da8a0;
	color:black;
}
.footer hr
{
	 border: none; /* Убираем границу для браузера Firefox */
    color: black; /* Цвет линии для остальных браузеров */
    background-color: black; /* Цвет линии для браузера Firefox и Opera */
    height: 1px; /* Толщина линии */
}
.footer .copy
{
	padding-top: 0px;
	margin-top: 0;
}
.footer .soc  img:hover
{
	opacity:0.5;
}
.online_travel
{
	background-color: white;
}